.commentList {
  margin-bottom: 1rem;
}
.commentItem {
  display: block;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0.8rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);
}
.commentItem div {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: var(--gray-500);
}
.commentMeta {
  margin-bottom: 0.5rem;
}
.commentMeta .author {
  font-weight: var(--weight-bold);
}
.commentMeta.time {
  font-size: 0.85rem;
  color: var(--color-muted);
  display: block;
}
.commentsBox > p {
  width: 92%;
}
.deleteButton {
  color: #ef4444;
  font-size: 0.85rem;
  cursor: pointer;
}
.deleteButton:hover {
  font-weight: var(--weight-bold);
}
