.container {
  margin-top: 1.5rem;
}
.titleContainer {
  margin-bottom: 1rem;
}

.deepdivesList {
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: 1rem;
}
.deepdivesList a {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}
