/* Greeting */
.greeting {
  margin-bottom: 4rem;
  position: relative;
}
.greeting .profile {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  top: 0;
}

.greeting .intro > h1 {
  font-size: var(--font-size-h1);
  line-height: 1.5;
  margin: 0;
}
.greeting .intro > p {
  padding: 1.25rem 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  line-height: 1.7;
}

.aboutMe {
  padding: 0.25rem 0.8rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: var(--weight-bold);
  color: var(--color-title);
  background-color: var(--color-background);
  border: 1px solid var(--color-title);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.aboutMe:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* tablet 사이즈 둘로 나눠 styling */
@media (min-width: 481px) and (max-width: 799px) {
  .greeting .profile {
    display: block;
    width: 170px;
    height: 170px;
    margin-right: 1rem;
    object-fit: cover;
  }
}
/* tablet ~ desktop */
@media (min-width: 800px) {
  .greeting {
    padding: 1rem;
    box-sizing: border-box;
    border: 5px solid var(--color-primary);
    border-radius: 1rem;
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .greeting .intro h1 {
    color: var(--color-title);
  }
  .greeting .profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .greeting .profile {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    object-fit: cover;
  }
  .greeting .aboutMe {
    text-align: center;
    width: 60%;
  }
}
