/* 800px이상부터 style변경 */
@media (min-width: 800px) {
  .main {
    max-width: 720px;
    margin: 2rem auto;
  }
}

/* Desktop: 1200px 이상 */
@media (min-width: 1200px) {
  .noteSection {
    display: flex;
    gap: 2rem;
  }
}
