.main {
  min-width: 100%;
  box-sizing: border-box;
}
.article {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #d1d5db;
}
.article:hover {
  border: 1px solid #666;
  cursor: pointer;
}

.thumbnail {
  height: 7rem;
  object-fit: cover;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.description {
  font-size: var(--font-size-small);
  margin-top: 0.5rem;
}

/* tablet ~ desktop */
@media (min-width: 768px) {
  .thumbnail {
    width: 10rem;
    height: 10rem;
  }
  .content {
    padding: 1rem;
    box-sizing: border-box;
  }
}
