.writeButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 1rem 0;
  border: 1px solid white;
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

/* tablet half 이상 */
@media (min-width: 768px) {
  .writeButton {
  font-size: 1.5rem;
  }
}
