:root {
  max-width: 1400px;
  margin: 0 auto;

  /* color */
  --color-primary: #1e3932; /* green-900 */
  --color-secondary: #046241;
  --color-white: #f0f0f0;
  --color-black: #4b5563;

  /* weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --font-size-Main: 2.25rem;
  --font-size-Main-tablet: 1.5rem;
  --font-size-subTitle: 1.25rem;
  --font-size-base: 1rem;
  --font-size-small: 0.9rem;

  --line-height-posts: 1.7;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
p,
div,
li {
  font-size: var(--font-base);
}
button {
  padding: 0;
  margin: 0;
}
p,
div,
h1,
h2,
h3,
h4,
body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
main {
  min-height: 100vh;
  padding: 1.25rem;
  box-sizing: border-box;
}
html {
  background-color: #f9f9f9;
}

/* mobile */
@media (max-width: 480px) {
  :root {
    --font-h1: 1.75rem;
    --font-h2: 1.25rem;
    --font-h3: 1rem;
    --font-base: 0.9rem;
  }
  body {
    min-height: 100vh;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 1279px) {
  :root {
    --font-h1: 2rem;
    --font-h2: 1.5rem;
    --font-h3: 1.25rem;
    --font-base: 0.95rem;
  }
  body {
    min-height: 100vh;
  }
}

/* desktop */
@media (min-width: 1280px) {
  body {
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
