.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #4b5563;
}

.main {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.outletWrapper {
  min-height: 100vh;
  padding-right: 2rem;
  box-sizing: border-box;
  flex: 7.5;
}

.sidebarWrapper {
  flex: 2.5;
}

.tabletMain {
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: border-box;
}

.mobiletMain {
  min-height: 100vh;
  padding: 0 1rem;
}
