.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #4b5563;
}

.main {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.outletWrapper {
  min-height: 100vh;
  flex: 7.5;
}

.sidebarWrapper {
  flex: 2.5;
}

.tabletMain {
  min-height: 100vh;
  padding: 0 4rem;
}
/* tablet half 이하 */
@media (max-width: 768px) {
  .tabletMain {
    padding: 0 2rem;
  }
}

.mobiletMain {
  min-height: 100vh;
  padding: 0 1rem;
}
