.header {
  background-color: var(--color-primary);
  padding: 2rem 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.title > a {
  display: block;
  font-size: var(--font-size-h1);
  font-weight: var(--weight-black);
  color: var(--color-white);
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.tagButton {
  background: none;
  border: none;
  font-weight: var(--weight-regular);
  font-size: var(--font-size-base);
  color: var(--color-white);
  cursor: pointer;
  /* transition: opacity 0.2s ease; */
  transition: transform 0.2s ease, color 0.2s ease;
}
.tagButton:hover {
  opacity: 0.75;
  transform: translateY(-3px);
}

/* mobile  */
@media (max-width: 1279px) {
  .nav {
    display: none;
  }
}

/* tablet half 이상 */
@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}
