.header {
  background-color: var(--color-primary);
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.title > a {
  display: block;
  font-size: var(--font-size-h1);
  font-weight: var(--weight-black);
  color: var(--color-white);
  margin-bottom: 1rem;
}

/* tablet half 이상 */
@media (min-width: 768px) {
  .header {
    padding: 2rem 4rem;
  }
  .title {
    font-size: 2.25rem;
  }
}
