.header {
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.nav {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tagButton {
  background-color: #374151; /* gray-700 */
  color: white;
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tagButton:hover {
  background-color: #111827; /* gray-900 */
}


/* mobile  */
@media (max-width: 1279px) {
  .nav {
    display: none;
  }
}

/* tablet half 이상 */
@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}
