.aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuSection {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin: 1rem 0;
  order: 1;
}

.menuSection a {
  display: block;
  margin: 0 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.menuSection a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease-in-out;
}

.menuSection a:hover::after {
  width: 100%;
}
.searchSection {
  order: 2;
}
@media (max-width: 768px) {
  .aside {
    flex-direction: column;
    align-items: flex-end;
  }
  .menuSection {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    order: 2;
  }
  .menuSection a {
    margin: 0.5rem 0;
  }
  .searchSection {
    order: 1;
  }
}
