.aside {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuSection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem 0;
}

.menuSection a {
  display: block;
  margin-right: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.menuSection a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.menuSection a:hover::after {
  width: 100%;
}